.hero:hover {
    background: lightgrey;
}

.ant-table-selection {
    visibility: hidden;
}

@media only screen and (max-width: 480px) {
    .hero-body {
        padding: 2em 1.5em;
    }
} 

.btn-new{
    margin: 5px 0;
}

.Form {
    width: 100%;
}

.panel-block {
    justify-content: center;
    color: rgba(82, 8, 45, 0.85);
    border-color: rgba(234, 204, 178, .75);
    a {
        text-decoration: none;
    }
    
}

.panel-block:first-child {
    border-color: rgba(234, 204, 178, .75);
}