.ant-breadcrumb-link {
    color: #331507;
}

.ant-breadcrumb a {
    color: #331507;
}

@media only screen and (min-width: 480px) {
    .ant-breadcrumb a, .ant-breadcrumb-link {
        font-size: 1.2em;
    }
} 

.ant-avatar {
    background: white;
    border-radius: 0;
    width: 85px;
    height: 50px;
}

.ant-card-meta-avatar {
    padding: 16px;
}

.ant-card-meta-title {
    font-size: 20px;
    color: #52082D;
    margin: 10px 0px;
}

.ant-card-meta-description {
    color: #331507;
    font-size: 18px;
    padding: 0 0 20px 0;
}