.ant-breadcrumb-link {
    color: #331507;
}

.ant-breadcrumb a {
    color: #331507;
}

@media only screen and (max-width: 480px) {
    .ant-card-meta-avatar {
        visibility: hidden;
        display: none;
    }

    .ant-card-meta-title {
        font-size: 16px !important;
    }
    
    .ant-card-meta-description {
        font-size: 14px !important;
    }
} 

@media only screen and (min-width: 481px) and (max-width: 767px) {

    .ant-card-meta-description {
        font-size: 16px !important;
    }
} 

.ant-avatar {
    background: white;
    border-radius: 0;
    width: 85px;
    height: 50px;
}

.ant-card-meta-avatar {
    padding: 16px;
}

.ant-card-meta-title {
    font-size: 20px;
    color: #52082D;
    margin: 10px 0px;
}

.ant-card-meta-description {
    color: #331507;
    font-size: 18px;
    padding: 0 0 20px 0;
}