.ant-card-body {
    padding: 0;
}

.ant-breadcrumb {
    font-size: 17px;
}

.ant-card-head-title {
    color: rgba(82, 8, 45, 0.85);
    text-align: center;
}

.ant-card-bordered {
    border: 1px solid rgba(234, 204, 178, .75);
}