.ant-card-head-title {
    color: rgba(51,21,7,.7);
    text-align: center;
}

.ant-card-body {
    padding: 0;
}

.ant-card-head {
    padding: 0 5px;
}

.ant-breadcrumb {
    font-size: 17px;
}