.Home .lander {
    width: 100%;
    height: 100%;
}
  
.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    color: #7A6B71;
}

.ant-card {
    margin: 10px 5px 10px 5px;
}

.ant-card-body {
    padding: 2px;
}

.ant-card-head-title {
    color: #7A6B71;
    text-align: center;
}

@media only screen and (min-width: 480px) {
    .ant-card-head-title {
        font-size: 1.2rem;
    }
} 

@media only screen and (max-width: 480px) {
    .ant-card-head-title {
        font-size: .6rem;
    }
}

.ant-carousel .slick-slider {
    text-align: center;
    height: 130px;
    line-height: 130px;
    background: #7A6B71;
    overflow: hidden;
  }

  .slick-track {
      height: 130px;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .slick-list {
      height: 130px;
  }

  @media only screen and (max-width: 460px) {
    .ant-carousel .slick-slider {
        height: 90px;
        line-height: 90px;
    }
    .ant-card-head {
        line-height: 22px;
        height: 22px;
    }

    .button {
        font-size: .8em
    }
} 

input::-webkit-input-placeholder {
    color: rgba(122, 107, 113, .4) !important;
}
    
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(122, 107, 113, .4) !important;
}
    
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(122, 107, 113, .4) !important; 
}
    
input:-ms-input-placeholder {  
    color: rgba(122, 107, 113, .4) !important; 
}