.ant-card {
    margin: 10px 5px 10px 5px;
}

.ant-card-body {
    padding: 2px;
}

.ant-card-head:hover {
    background: rgba(234, 204, 178 .5)
}

.ant-card-head-title {
    color: #52082D;
    text-align: center;
}

input::-webkit-input-placeholder {
    color: rgba(51, 21, 7, .4) !important;
}
    
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(51, 21, 7, .4) !important;
}
    
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(51, 21, 7, .4) !important; 
}
    
input:-ms-input-placeholder {  
    color: rgba(51, 21, 7, .4) !important; 
}

.box {
    background: rgba(234,204,178,.5);
    padding: .7rem;
}

.ant-modal-footer {
    visibility: hidden;
}

.ant-modal-header {
    text-align: center;
}

.ant-modal-title {
    color: #52082D;
}

#category-card .ant-card-head {
    padding: 0 5px;
}

.news-card p {
    color: #331507;
}

.ant-card-wider-padding .ant-card-body {
    padding: 0 16px 0 0 !important;
}

@media only screen and (min-width: 480px) {
    #category-card .ant-card-head-title {
        font-size: .9rem;
    }

    .ant-carousel .slick-slide {
        text-align: center;
        height: 200px;
        line-height: 200px;
        overflow: hidden;
    }
    
    .slick-list {
        height: 200px;
        line-height: 200px;
    }

    .ant-card-head-title {
        font-size: 1.2rem;
    }
    .ant-card-head-title:hover {
        color: rgba(82, 8, 45, .7);
    }
}

@media only screen and (max-width: 480px) {

    .tile.is-ancestor:first-child { 
        margin: 5% 0 0 0;
    }

    #category-card .ant-card-head {
        line-height: 16px;
        height: 16px;
        min-height: 22px;
    }

    .ant-card-head { 
        line-height: 16px;
        height: 16px;
        min-height: 24px;
    }

    .ant-card {
        margin: 5px 1px;
    }

    .ant-card-head-title {
        padding: 0;
    }

    .ant-card-head {
        line-height: 22px;
        height: 22px;
    }

    .button {
        font-size: .8em
    }

    .box {
        padding: 0.5rem;
    }

    .ant-carousel .slick-dots {
        bottom: 0;
    }

    #root-div {
        margin: 15% 0;
        height: 100vh;
    }

    .tile.is-parent {
        padding: .4rem 0 !important;
    }
}

@media only screen and (min-width: 768px) {

    .ant-card-wider-padding .ant-card-body {
        margin-right: 45px;
    }

    .news-text {
        font-size: 1.2rem !important;
    }

    .tile.is-ancestor:first-child { 
        margin: 8% 0 0 0;
    }
}

@media only screen and (min-width: 769px) {
    .ant-carousel .slick-dots {
        bottom: 10px;
    }
}

.ant-carousel .slick-dots li.slick-active button, .ant-carousel .slick-dots li button {
    background: #52082D;
}

.tile.is-parent {
    padding: .75rem 0;
}

.tile.is-child {
    margin: 0 10px !important;
}

