@media only screen and (min-width: 481px) and (max-width: 768px) {
    .icon-back {
        font-size: 36px;
    }
}

.ant-breadcrumb {
    font-size: 17px;
}

@media only screen and (min-width: 769px) {
    .ant-card-head-title {
        font-size: 17px;
    }
}

.ant-card-head{
    background-color: rgba(234, 204, 178, .75);
}

.ant-card-bordered {
    border: 1px solid rgba(234, 204, 178, .75);
}