#Content {
  margin: 20px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-burger {
  height: 4rem;
  width: 4rem;
}

.navbar-burger.button {
  color: #52082D;
  border: none;
}

.navbar-burger:hover {
  background-color: white;
}

.button:focus:not(:active) {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ant-input-affix-wrapper .ant-input-suffix {
  color: #331507;
}

.ant-input {
  color: #331507;
  border: 1px solid #331507;
}

.ant-input-search.ant-input-affix-wrapper {
  max-width: 200px;
}  

.footer {
  background-color: white;
  padding: 1.5rem;
}

.facebook {
  color: #3b5998;
}

.ant-breadcrumb a.active-link {
  color: #eaccb2;
}

.ant-breadcrumb a.active-link:focus{
  text-decoration: none;
}

.ant-breadcrumb a.active-link:hover{
  color: #eaccb2;
  cursor: default;
}
