.icon-back {
  font-size: 24px;
}
.icon-link, .ant-breadcrumb a {
  color: #52082D !important; 
}

.header-link {
  color: #52082D !important; 
}

.header-link:hover {
  color: #eaccb2 !important; 
}

.navbar-burger {
  height: 4rem;
  width: 4rem;
}

.navbar-burger.button {
  color: #52082D;
  border: none;
}

.navbar-burger:hover {
  background-color: white;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

.button:focus, .button.is-focused {
  border-color: white;
}

.ant-input-affix-wrapper .ant-input-suffix {
  color: #331507;
}

.ant-input {
  color: #331507;
  border: 1px solid #331507;
}

.ant-input-search.ant-input-affix-wrapper {
  max-width: 200px;
}  

.footer {
  background-color: white;
  padding: 1.5rem;
}

.facebook {
  color: #3b5998;
}

.ant-breadcrumb a.active-link {
  color: #eaccb2 !important;
}

.ant-breadcrumb a.active-link:focus{
  text-decoration: none;
}

.ant-breadcrumb a.active-link:hover{
  color: #eaccb2;
  cursor: default;
}

.menu-item {
  font-size: 18px;
}

.insta-icon {
  width: 16px;
  margin-top: 3px;
}